
<nav class="navbar">
  <div class="logo">🛒 EJS LEARNINGS </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/products">Produts</a></li>
  </ul>
</nav>
