<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="container">
    <h1>Welcome! , <%= user %></h1>
    <p>This is the Home Page with a clean layout.</p>
</div>

<%- include("partials/footer") %>